bucket                      = "replace-me"
key                         = "future20/terraform.tfstate"
region                      = "ru-central1"
endpoint                    = "https://storage.yandexcloud.net"
access_key                  = "replace-me"
secret_key                  = "replace-me"
skip_region_validation      = true
skip_credentials_validation = true
skip_requesting_account_id  = true
skip_metadata_api_check     = true
force_path_style            = true
